<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Practice Suite">
    <test thread-count="5" parallel="classes" name="Test Basics 1">
        <classes>
            <class name="org.seleniumGrid.GoogleTest"/>
            <class name="org.seleniumGrid.FacebookTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->